{{> header }}
<form class="form add-kot add-kot-form">
    <h2>Add kot</h2>
    <label>Kot titel</label>
    <input type="text" class="add-kot-title" placeholder="titel van kot">
    <label>Huurprijs</label>
    <input type="number" class="add-kot-rent" placeholder="€430">
    <label>Type kot</label>
    <select class="add-kot-type">
        <option value="studio">Studio</option>
        <option value="kamer">Kamer</option>
        <option value="appartement">Appartement</option>
        <option value="huis">Huis</option>
    </select>
    <label>Oppervlakte</label>
    <input type="number" class="add-kot-surface" placeholder="64">
    <label>Verdieping</label>
    <input type="number" class="add-kot-floor" placeholder="0, 1, 2, 3, ...">
    <label>Aantal Personen</label>
    <input type="number" class="add-kot-residents" placeholder="aantal personen">
    <label>Toilet</label>
    <select class="add-kot-toilet">
        <option value="prive">Privé</option>
        <option value="gedeeld">Gedeeld</option>
        <option class="geen">Geen</option>
    </select>
    <label>Douche</label>
    <select class="add-kot-shower">
        <option value="prive">Privé</option>
        <option value="gedeeld">Gedeeld</option>
        <option class="geen">Geen</option>
    </select>
    <label>Bad</label>
    <select class="add-kot-bath">
        <option value="prive">Privé</option>
        <option value="gedeeld">Gedeeld</option>
        <option class="geen">Geen</option>
    </select>
    <label>Keuken</label>
    <select class="add-kot-kitchen">
        <option value="prive">Privé</option>
        <option value="gedeeld">Gedeeld</option>
        <option class="geen">Geen</option>
    </select>
    <label>Bemeubeld</label>
    <select class="add-kot-furnished">
        <option value="ja">Ja</option>
        <option value="neen">Neen</option>
    </select>
    <label>Aantal koten in pand</label>
    <input type="number" class="add-kot-kotcount" placeholder="aantal koten in pand">
    <label>Beschrijving</label>
    <textarea class="add-kot-description" placeholder="kot beschrijving"></textarea>
    <label>Kotadres</label>
    <input type="text" class="add-kot-address" placeholder="kotadres">
    <label>
        Afbeelding uploaden
        <input type="file" class="file-input" name="test">
    </label>
    <button class="add-kot-submit">Toevoegen</button>
</form>
{{> footer}}