{{> menu }}
<div class="form-space"></div>
<form class="form add-kot">
    <h1>Add kot</h1>
    <label>Kot title</label>
    <input type="text" class="add-kot-title" placeholder="titel van kot">
    <label>Beschrijving</label>
    <textarea class="add-kot-description" placeholder="kot beschrijving"></textarea>
    <label>Kotadres</label>
    <input type="text" class="add-kot-address" placeholder="kotadres">
    <label>
        Afbeelding uploaden
        <input type="file" class="filetest" name="test">
    </label>
    <button class="add-kot-submit">Toevoegen</button>
</form>
<div class="kotlist"></div>
{{>footer}}