<h1>Test</h1>
{{> form }}

<h1>Add Kot</h1>
<form class="add-kot">
    <label>Title</label>
    <input type="text" class="add-kot-title" placeholder="titel van kot">
    <label>Beschrijving</label>
    <textarea class="add-kot-description" placeholder="kot beschrijving"></textarea>
    <input type="text" class="add-kot-address" placeholder="kotadres">
    <button class="add-kot-submit">Toevoegen</button>
</form>