{{> header}}
<div class="form-space"></div>
<div class="view-icon-container">
    <i class="view-icon fas fa-list-ul"></i>
    <i class="view-icon fas fa-map-marker-alt"></i>
    <i class="view-icon fas fa-arrows-alt-h"></i>
</div>
<div class="splash"><h1 class="splash-logo">kotfindr</h1><p>Loading...</p></div>
<div class="kotlist"></div>
{{>footer}}