{{> header}}
<div class="form-space"></div>
<div class="view-icon-container">
    <i class="view-icon fas fa-list-ul active"></i>
    <i class="view-icon fas fa-map-marker-alt"></i>
    <i class="view-icon fas fa-arrows-alt-h"></i>
</div>
<i class="fas fa-filter"></i>
<div class="filter">
    <label>Type kot</label>
    <select class="filter-kot-type">
        <option value="studio">Studio</option>
        <option value="kamer">Kamer</option>
        <option value="appartement">Appartement</option>
        <option value="huis">Huis</option>
    </select>
    <label>Huurprijs</label>
    <div class="rent-filter-container">
        <label class="rent-filter-label">van</label>
        <input type="number" class="filter-rent-lo" placeholder="€0">
    </div>
    <div class="rent-filter-container right">
        <label class="rent-filter-label">tot</label>
        <input type="number" class="filter-rent-hi" placeholder="€500">
    </div>
    <label>Oppervlakte</label>
    <input type="number" class="filter-surface" placeholder="64" value="{{snapshot.surface}}">
    <button class="filter-button">Filteren</button>
</div>
<div class="splash"><h1 class="splash-logo">kotfindr</h1><p>Loading...</p></div>
<div class="kotlist"></div>
{{>footer}}