<div class="form form-signin">
    <h1>Sign in</h1>
    <input type="email" class="signin-email" placeholder="email...">
    <input type="password" class="signin-password" placeholder="password...">
    <button class="signin-submit">Sign in</button>
</div>

<div class="form form-signup">
    <h1>Register</h1>
    <input type="email" class="signup-email" placeholder="email...">
    <input type="password" class="signup-password" placeholder="password...">
    <input type="file" class="filetest">
    <button class="signup-submit">Register</button>
</div>

<form>
    <input type="file" class="filetest" name="test" id="test">
</form>