{{#each kots}}
<div class="kot-list-container">
    <img src="https://firebasestorage.googleapis.com/v0/b/jonasstasseyns-eindopdracht.appspot.com/o/850c0df3aca34ccb8fe9ecd9a841da52.jpg?alt=media&token=15df7217-a5d2-40dc-a521-88486154988e" class="kot-list-img">
    <h1 class="kot-list-title">{{this.title}}</h1>
    <p class="kot-list-description">{{this.description}}</p>
    <button class="go-to-detail">Meer info</button>
</div>
{{/each}}