<div class="user-frame">
    {{#if email}}
        <p class="user-email">{{email}}</p>
    {{/if}}
</div>
<i class="fas fa-bars close-menu"></i>
<ul>
    <li><a href="#">Koten bekijken</a></li>
    <li>Messages</li>
    {{#if owner}}
        <li><a href="/#/addkot">Add kot</a></li>
    {{/if}}
    {{#unless email}}
        <li class="show-signin">Sign in</li>
    {{/unless}}
    {{#if email}}
        <li class="signout">Sign Out</li>
    {{/if}}
</ul>